body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #97bee6; 
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 1.2em;
}

input[type="number"] {
    padding: 10px;
    font-size: 1em;
    width: 100px;
}

button:hover {
    background-color: #218838;
}

th,
td {
    padding: 10px;
    text-align: center;
    background-color: white;
}


.output {
    margin-top: 20px;
    font-size: 1.2em;
    white-space: pre-line;
    background-color: #fff3cd;
    padding: 20px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
}

.red-text {
    color: red;
}